body{
  font-family: sans-serif;
   background-color:black;
   color:black;
}
#container{
            width: 1000px;
            height:550px;
            background-image:url(bgImg.jpg);
            margin: 20px auto; 
}
#calculator{
            width:320px;
            height:520px;
            background-color:#2c3e50;
            margin:0 auto;
            top:20px;
            position:relative;
            border-radius:5px;
            box-shadow:0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}
#result{
  height: 120px;
}
#keyboard{
          height:400px;
}
#history{
  text-align:right;
  height: 30px;
  margin:5px;
  padding-top:20px;
  font-size:15px;
  color:white;
  font: size 15;px;
  font:bold;
  border-radius:5px;
}
#output{
  text-align:right;
  height:40px;
  margin:20px 20px 20px;
  font-size:30px;
  background-color: beige;
  bor 

}
.operator,.number, .empty{
            width:50px;
            height:50px;
            margin:15px;
            float:left;
            border-radius:50%;
            border-width:0%;
            font-weight:bold;
            font-size:15px;

}
.number, .operator{
  cursor:pointer;
}
.operator:active, .number:active{
  font-size:13px;
}
.operator:focus, .number:focus, .empty:focus{
  outline:0;
}
button:nth-child(4){
  font-size:20px;
  background-color: blue;
}
button:nth-child(8){
  font-size:20px;
  background-color: crimson;
}
button:nth-child(12){
  font-size:20px;
  background-color: darkgoldenrod;

}
button:nth-child(16){
  font-size:20px;
  background-color: brown;
}
button:nth-child(20){
  font-size:20px;
  background-color: darkgreen;
}
